	<div class="uk-block uk-block-large uk-block-muted">
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<div class="uk-width-1-10"></div>
				<div class="uk-width-8-10">
					&copy; Copyright 2015				
				</div>
				<div class="uk-width-1-10"></div>
			</div>
		</div>
	</div>
	
	<script src="//getuikit.com/vendor/jquery.js"></script>
	<script src="//getuikit.com/dist/js/uikit.js"></script>
	<script src="//getuikit.com/vendor/highlight/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>