<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
	  {{ if eq .URL "/" }}
	  {{ .Site.Title }}
	  {{ else if in .URL "/post/" }}
	  All Entries | {{ .Site.Title}}
	  {{ else if in .URL "/tags/" }}
	  Tags | {{ .Site.Title }}
	  {{ else }}
	  {{ .Title }} | {{ .Site.Title }}
	  {{ end }}
  </title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/uikit/2.21.0/css/uikit.min.css">
  <!-- <link rel="stylesheet" href="//cdn.staticfile.org/highlight.js/8.3/styles/{{ .Site.Params.SyntaxHighlightTheme }}"> -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.6/styles/{{ .Site.Params.SyntaxHighlightTheme }}">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="uk-block uk-block-large uk-block-muted">
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<div class="uk-width-1-10"></div>
				<div class="uk-width-8-10">
          <!-- <p>
            <span><h2 id="logo"><a href="/">{{ .Site.Title }}</a></h2></span>
            <span>
              <a href="/">首页</a>
              {{ range .Site.Pages }}
                {{ if eq .Type "page" }}
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
              {{ end }}
            </span>
          </p> -->
          <div id="header" class="clearfix">
            <div class="uk-float-left">
              <h2><a href="/">{{ .Site.Title }}</a></h2>
            </div>
            <div class="uk-float-right">
              <a href="/" class="uk-button">Home</a>
              <!-- <a href="/tags/">标签</a> -->
              {{ range .Site.Pages }}
                {{ if eq .Type "page" }}
                  <a href="{{ .Permalink }}" class="uk-button">{{ .Title }}</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
				</div>
				<div class="uk-width-1-10"></div>
			</div>
		</div>
	</div>
